<mat-toolbar  class="app-toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-button (click)="toggleSidenav.emit()">
        <mat-icon svgicon="menu">menu</mat-icon>
      </button>
     
      <a mat-list-item routerLink="/user" style="cursor: pointer;">Header</a>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/user/profile">
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
     
    </mat-toolbar-row>
  </mat-toolbar>